@import "../../base.module";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
  margin-bottom: 5%;
  position: relative;
  justify-content: center;

  .video_shorts__container {
    width: 50%;
    display: flex;
    align-items: center;
    background: black;
    position: relative;

    .color__shorts {
      width: 100%;

      .shorts__main {
        display: flex;
        border-radius: 15px;
        position: relative;

      }

      .shorts__top {
        z-index: 2;
        position: absolute;
        top: 5%;
        left: 5%;
        background: rgba(0, 0, 0, 0.7);
        padding: 5px;
        border-radius: 20px;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }

        svg {
          color: white;
        }
      }

      .shorts__bottom {
        z-index: 1;
        position: absolute;
        bottom: 2%;
        width: 100%;

        .shorts__info {
          display: flex;
          flex-direction: column;
          margin-right: 5%;

          .shorts__content {
            flex-direction: row;
            flex: 1;
            font-size: 16px;
            font-weight: bold;
            color: white;
            display: flex;
            //justify-content: left;
            padding-bottom: 10px;
            margin-left: 5%;
          }

          .shorts__user {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            margin-left: 5%;

            .user__info {
              display: flex;
              flex-direction: row;
              align-items: center;
            }

            .subs__btn {
              display: flex;
              background: white;
              width: 90px;
              height: 30px;
              border-radius: 20px;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: black;

              &:hover {
                opacity: 85%;
              }
            }

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 10px;
            }

            p {
              color: white;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;

    .shorts__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      background: #2b2b2b;
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 15px;
      color: white;

      &:hover {
        opacity: 50%;
        cursor: pointer;
      }

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .comments__container {
    width: 50%;
    background: #2b2b2b;
    //display: none;

    .comments__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5%;

      .comments__views {
        display: flex;
        margin-left: 2%;
      }

      .comments__btn__details {

      }

      .comments__btn__cancel {
        display: flex;
        margin-right: 2%;
        border-radius: 14px;

        &svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}