@import "../../base/base.module";

.categoriesBar{
  // padding: 3rem 0 0 0;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar{
    height: 5px;
  }

  scrollbar-width: auto ;


  span{
    margin-right: 1rem;
    padding: 0.5rem;

    white-space: nowrap;
    border: 1.5px solid $text-color-for-black;
    border-radius: 999px;

    &:hover{
      background-color: #374a59;
      color: $text-color-for-black;
      cursor: pointer;
    }

    &.active{
      color: #dddddd;
      background-color: #606060;
      border-color: $border-color;
    }
  }
}