@import "../../base/base.module";

a {
  color: $text-color-for-black;
  text-decoration: none;
  padding-bottom: 10px;

  .video {
    width: 20rem;
    height: 23rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    cursor: pointer;
    align-items: stretch;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover {
      background-color: $white-mode-background-component;
      border-radius: 17px;
    }

    &__top {
      margin-bottom: 0.5rem;
      border-radius: 20px;

      .video__background {
        filter: blur(18px);
        width: 18rem;
        height: 12.5rem;
        -webkit-filter: blur(8px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1;
      }

      .video__thumbnail {
        display: block;
        object-fit: fill;
        height: 200px;
        border-radius: 20px;
        position: relative;
        margin: 0 auto;
        z-index: 2;
      }

      span {
        margin-bottom: 0.5rem;
        bottom: 0.3rem;
        right: 0.3rem;
        padding: 0.2rem;
        background: #080808ec;
        border-radius: 3px;
      }
    }

    &__title {
      margin-bottom: 0.1rem;
      color: $white-text;
      @include line-clamp(1);
    }

    &__detail {
      display: flex;
      align-items: center;
      color: $white-text
    }

    &__channel {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      img {
        width: 36px;
        height: 36px;

        border-radius: 50%;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}