@import "../../base.module";

.suggestVideo {
  display: flex;

  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem    ;
  height: 13vh;
  width: 100%;

  .video__main {
    display: block;
    align-self: center;
    flex-basis: 11rem;
    width: 11rem;
    height: 13vh;
    border-radius: 13px;
    margin-right: 0.5rem;
  }

  .video__info {
    display: flex;
    flex-direction: column;


    .suggestVideo__title {
      align-self: flex-start;
      font-weight: bold;
      font-size: 15px;
      align-items: flex-start;
    }

    .suggestVideo__channel {
      align-content: center;
      font-size: 13px;
      align-items: center;
    }

    .suggestVideo__details {
      font-size: 13px;
      align-items: flex-end;
    }
  }
}