@import "../../base.module";

.suggestVideo {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  height: 13vh;

  .video__main {
    display: flex;
    align-self: center;
    width: 9rem;
    height: 13vh;
    border-radius: 13px;
    margin-right: 0.5rem;
  }

  .video__info {
    display: flex;
    flex-direction: column;


    .suggestVideo__title {
      display: flex;
      align-self: baseline;
      font-weight: bold;
      font-size: 15px;
    }

    .suggestVideo__channel {
      display: flex;
      align-content: center;
      font-size: 13px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .suggestVideo__details {
      display: flex;
      align-content: flex-end;
      font-size: 13px;
    }
  }
}