@import "../../base.module";

$channel-text: #606060;
body {
  background-color: #0F0F0F;
}

.watching__video {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .video__main {
    width: 100%;
    max-height: 40rem;
    border-radius: 20px;
    background-color: #0F0F0F;
  }

  .video__title {
    font-weight: bold;
    font-size: 20px;
  }

  .video__info__function {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;

    .info__channel {
      display: flex;
      flex-direction: row;
      width: 50%;

      .channel__avatar {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
      }

      .channel__info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .channel__name {
          font-size: 20px;
        }

        .channel__subscribers {
          font-size: 15px;
          color: $channel-text;
        }
      }

      .function__subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        background-color: white;
        border-radius: 20px;
        height: 70%;
        font-weight: bold;
        color: #0F0F0F;
        padding: 10px;
        font-size: 13px;

        &:hover {
          background-color: $text-color;
          cursor: pointer;
        }
      }
    }


    .function__channel {
      display: flex;
      justify-content: flex-end;
      align-items: center;


      .function__like {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $border-color;
        height: 35px;
        width: 80px;
        border-radius: 20px 0 0 20px;
        border-right: 1px solid $channel-text;

        &:hover {
          background-color: $channel-text;
          cursor: pointer;
        }
      }

      .function__dislike {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $border-color;
        height: 35px;
        width: 50px;
        border-radius: 0 20px 20px 0;

        &:hover {
          background-color: $channel-text;
          cursor: pointer;
        }
      }

      .function__share {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $border-color;
        margin-left: 10px;
        height: 35px;
        width: 100px;
        border-radius: 20px;

        &:hover {
          background-color: $channel-text;
          cursor: pointer;
        }
      }
    }
  }

  .video__details {
    border-radius: 15px;

    .details__info {
      display: flex;
      justify-items: flex-start;
      font-size: 17px;

    }

    .details__description {
      display: block;
      white-space: pre-line;
      font-size: 14px;
      border-bottom: 0.2px solid $border-color;
      border-radius: 20px;
      background-color: #272727;
      padding-left: 15px;
      padding-top: 10px;

      &:hover {
        background-color: #2b2b2b;
        width: inherit;
        cursor: pointer;
      }

      .showMore {
        display: flex;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 2rem;
        margin: 1rem 0;
        color: $text-color;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        justify-content: center;
        align-self: center;
        border-radius: 15px;

        &:hover {
          background-color: #2b2b2b;
          cursor: pointer;
        }
      }
    }
  }
}


