@import "../../base.module";

.watched__container {
  //   background-color: gray;
  height: 900px;
  width: 1280px;
  position: relative;
  .primary {
    margin: 30px 0 0 30px;
    width: 628px;
    .section__list__render {
      .header__container {
        font-size: 16px;
      }
      .list__contents__render {
        .header__video__render {
          height: 55px;
          padding: 16px 0 16px 0;
          font-size: 16px;
        }
        .item__section__render {
          display: flex;
          position: relative;
          width: 628px;
          height: 138px;
          margin: 16px 0 0 0;
          .video__render {
            width: 246px;
            height: 138px;
            // display: flex;
            justify-content: center;
            padding: 0;
            margin-right: 16px;
            position: relative;
            background-color: black;
            border-radius: 10px;
            img {
              width: 100%; /* Đảm bảo ảnh chiếm toàn bộ phần tử cha */
              height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
              border-radius: 10px;
            }
            .time__video {
              position: absolute;
              text-align: right;
              font-weight: 550;
              right: 5px;
              bottom: 5px;
              background-color: rgba(0, 0, 0, 1);
              border-radius: 5px;
              font-size: 12px;
            }
            .icon__hover {
              button {
                display: none;
                position: absolute;
                text-align: right;
                right: 10px;
                top: 10px;
                background-color: rgba(0, 0, 0, 1);
                z-index: 500;
                width: 24px;
                height: 24px;
                font-size: 12px;
                border-radius: 10%;
                .label {
                  display: none;
                  position: absolute;
                  top: 0;
                  right: 24px;
                  font-weight: 550;
                  width: 70px;
                  height: 24px;
                  background-color: rgba(0, 0, 0, 1);
                  padding: 4px 8px;
                  border-radius: 4px;
                  transition: transform 0.3s ease;
                }
              }
              button:hover .label {
                display: inline-block;
              }
            }
            .icon__hover2 {
              button {
                display: none;
                position: absolute;
                text-align: right;
                right: 10px;
                top: 40px;
                background-color: rgba(0, 0, 0, 1);
                z-index: 500;
                width: 24px;
                height: 24px;
                font-size: 12px;
                border-radius: 10%;
                .label {
                  display: none;
                  position: absolute;
                  top: 0;
                  right: 24px;

                  font-weight: 550;
                  width: 170px;
                  height: 24px;
                  background-color: rgba(0, 0, 0, 1);
                  padding: 4px 8px;
                  border-radius: 4px;
                  transition: transform 0.3s ease;
                }
              }

              button:hover .label {
                display: inline-block;
                // transform: translateX(-50%);
              }
            }
          }

          .text__wrapper {
            width: 366px;
            height: 138px;

            //   background-color: pink;

            .text__box {
              width: 270px; /* Độ rộng của ô chứa văn bản */
              max-height: 50px;
              overflow: hidden; /* Ẩn phần văn bản vượt quá độ rộng */
              text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi văn bản bị ẩn */
              // white-space: nowrap; /* Ngăn ngừa xuống dòng */
              font-size: 18px;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* Số lượng dòng tối đa hiển thị */
              -webkit-box-orient: vertical;
            }

            .data__video {
              font-size: 12px;
              padding-top: 5px;
            }

            .icon__button {
              width: 30px;
              height: 30px;
              border: none;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              //   cursor: pointer;
              display: none;
              svg {
                display: inline-block;
              }
            }

            .icon__button:focus {
              outline: none;
            }

            .icon__button:hover {
              background-color: #646464;
              border-radius: 50%;
            }

            .description__text {
              max-width: 366px;
              max-height: 42px;
              padding: 8px 0 8px 0;
              font-size: 12px;
              overflow: hidden; /* Ẩn phần văn bản vượt quá độ rộng */
              text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi văn bản bị ẩn */
              // white-space: nowrap; /* Ngăn ngừa xuống dòng */
              display: -webkit-box;
              -webkit-line-clamp: 2; /* Số lượng dòng tối đa hiển thị */
              -webkit-box-orient: vertical;
            }
          }
        }
        .item__section__render:hover .icon__button {
          display: inline-block;
        }
        .item__section__render:hover .icon__hover button {
          display: inline-block;
        }
        .item__section__render:hover .icon__hover2 button {
          display: inline-block;
        }
      }
    }
  }
  .secondary {
    font-size: 15px;
    // background-color: red;
    position: fixed;
    width: 385px;
    height: 348;
    padding: 0px 28px;
    right: 10px;
    top: 80px;

    svg {
      display: inline;
      margin-right: 10px;
    }

    .input__wrapper {
      align-items: center;
      input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #bcbcbc;
        background-color: #16181b;
      }

      svg {
        margin: auto;
      }
      button:hover {
        background-color: #646464;
        border-radius: 50%;
      }
    }

    .button__render {
      margin-top: 15px;
      button {
        height: 36px;
        border: none;
      }
      button:hover {
        background-color: #646464;
        border-radius: 20px;
      }
    }
  }
}
