@import '../../base.module';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: $black-primary;

  padding-left: 1rem;

  height: 7vh;
  width: 100%;

  &__menu__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__menu {
      display: inline-block;
    }

    .header__logo {
      padding-left: 20px;
      width: 240px;
      height: 60px;
      object-fit: contain;
      display: block;
    }
  }


  form {
    flex: 0.4;
    display: flex;
    margin: 0.1rem;
    border-radius: 20px;
    border: 1.2px solid;
    background-color: $black-secondary;

    input {
      width: 120%;
      border: none;
      border-radius: 15px;
      font-weight: 500;
      background: transparent;
      padding: 0.3rem;
      color: $text-color;

      &:focus {
        outline: none;
      }

    }

    button {
      padding: 0.3rem 1.5rem;
      color: $text-color;
      background: transparent;
      border: none;
      border-radius: 0 15px 15px 0;

      &:focus {
        border: none;
      }
    }
  }

  &__icons {
    flex: 0.08;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    background-color: transparent;

    img {
      border-radius: 100%;
      width: 40px;
      object-fit: contain;
      background-color: transparent;
    }
  }
}

@media(max-width: $breakpoint-small) {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }

    &__menu {
      display: block;
    }

    &__logo {
      display: none;
    }

    &__icons > *:not(img) {
      display: none;
    }
  }
}