@import "../../base.module";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: $white-background;

  padding-left: 1rem;

  height: 7vh;
  width: 100%;

  &__menu__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__menu {
      display: inline-block;
    }

    .header__logo {
      padding: 10px 0 0 20px;
      width: 130px;
      height: 60px;
      object-fit: contain;
      display: block;
    }
  }

  form {
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;

    input {
      width: 85%;
      height: 100%;
      border: 2px solid #dbdbdb;
      padding: 0 20px;
      font-size: 16px;
      text-transform: capitalize;
      border-radius: 40px 0 0 40px;
    }
    svg{
      margin: auto;
    }

    button {
      width: 15%;
      height: 100%;
      background: #f0f0f0;
      border: 2px solid #dbdbdb;
      padding: 5px 0;
      border-left: none;
      border-radius: 0 40px 40px 0;
    }
  }

  &__icons {
    flex: 0.08;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    background-color: transparent;
    padding-right: 63px;

    .signIn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: solid 1px #4c4c4c;
      width: 100px;
      height: 36px;
      border-radius: 18px;
      line-height: 36px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 15px;
      cursor: pointer;
      color: #3ea6ff;
      &:hover {
        background-color: #374a59;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }

    &__menu {
      display: block;
    }

    &__logo {
      display: none;
    }

    &__icons > *:not(img) {
      display: none;
    }
  }
}
