@import '../../base.module';

.sidebar {
  background: $white-background;

  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  position: fixed;
  z-index: 9;

  overflow-y: auto;

  transition: transform 0.3s ease-in;


  a {
    color: $white-text;
    text-decoration: none;
    width: 100%;
    height: auto;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    margin: 0.2rem 0;
    cursor: pointer;

    span {
      margin-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }

    &:hover {
      background-color:$white-mode-background-component;
      border-radius: 40px;
    }
  }

  hr {
    background-color: $border-color;
  }

  &.sidebar ~ .app__main {
    transition: all ease-in 0.3s;
  }

  &.open {
    flex-grow: 1;
    display: flex;
    position: fixed;
    transform: translateX(-4%);
    transition: transform 0.3s ease-in;
    min-width: 250px;
  }

  &.open ~ .app__main {
    padding-left: 250px;
    transition: all ease-in 0.3s;
  }
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    width: 90px;

    li {
      justify-content: center;
    }

    span {
      display: none;
    }

    &.open {
      display: flex;
      position: fixed;
      transform: translateX(0%);
      transition: transform 0.3s ease-in;
      min-width: 90px;
    }

    &.open ~ .app__main {
      padding-left: 90px;
      transition: all ease-in 0.3s;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 9;

    &.open {
      display: flex;
      position: fixed;
      transform: translateX(0%);
      transition: transform 0.3s ease-in;
      min-width: 90px;
    }

    &.open ~ .app__main {
      padding-left: 20px;
      transition: all ease-in 0.3s;
    }
  }
}