@import '../base/base.module';

.comment__container {
  padding: 10px 0 20px 0;

  &:hover {
    .button__update__delete {
      display: block;
    }
  }

  .comment__body {
    display: flex;
    flex-direction: row;

    .user__avatar {
      display: block;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin-right: 20px;
    }

    .content__main {

      .user__info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .user__name {
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 0;
        }

        .comment__date {
          align-self: center;
          font-size: 12px;
          padding-left: 10px;
        }
      }

      .comment__content {
        padding: 10px 0 10px 0;
      }

      .comment__function {
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        padding-left: 30px;

        .function__button {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding-left: 10px;

          &:hover {
            cursor: pointer;
          }

          .button {
            &:hover {
              background-color: #4c4c4c;
              border-radius: 100%;
            }
          }
        }

        .reply {
          padding-left: 10px;
          width: 5rem;
          white-space: nowrap;
          cursor: pointer;
        }
      }

      .reply__container {
        align-items: center;

        .container__img {
          align-items: flex-start;
        }

        .reply__function {
          padding: 20px 0 20px 0;

          .reply__content {
            text-decoration-color: $text-color-for-black;
            border: none;
            height: 35px;
            width: 100%;
            background-color: transparent;
            border-bottom: 1px solid black;
          }

          .reply__button {
            padding: 10px;
            align-self: flex-end;
            font-size: 13px;

            .cancel {
              padding: 10px;
              font-weight: bold;

              &:hover {
                background-color: $border-color;
                border-radius: 20px;
              }
            }

            .submit {
              padding: 10px;
              font-weight: bold;

              &:hover {
                background-color: $border-color;
                border-radius: 20px;
              }
            }
          }
        }
      }
    }

    .button__update__delete {
      //display: none;

      .button__delete{
        cursor:pointer;
      }
      .button__edit{
        cursor:pointer;
      }
    }
  }


}