@import "../base/base.module";

.suggestVideo {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  height: 13vh;
  width: 100%;

  .container__img {
    display: flex;
    justify-content: center;
    background-color: #0f0f0f;
    width: 180px;
    border-radius: 20px;

    .video__main {
      display: block;
      object-fit: fill;
      height: 13vh;
      border-radius: 20px;
      margin-right: 0.5rem;
    }
  }

  .video__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
    .suggestVideo__title {
      align-self: flex-start;
      font-weight: bold;
      font-size: 16px;
      align-items: flex-start;
      @include line-clamp(1);
    }

    .suggestVideo__channel {
      align-content: center;
      font-size: 12px;
      align-items: center;
      color: #606060;
    }

    .suggestVideo__details {
      font-size: 12px;
      align-items: flex-end;
      color: #606060;
    }
  }
}
