@import "../base/base.module";

$channel-text: #606060;

.watching__video {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .video__container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .custom__video__container {
      position: relative;
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0f0f0f;
      border-radius: 30px;

      .video__main {
        box-sizing: border-box;
        max-width: 97%;
        max-height: 100%;
        width: auto;
        height: auto;
        background-color: #0f0f0f;
        display: block;
        object-fit: fill;
        border-radius: 30px;
      }

      //.custom__controls {
      //  position: absolute;
      //  bottom: 0;
      //  left: 0;
      //  right: 0;
      //  background-color: #606060;
      //  padding: 10px;
      //  display: flex;
      //  justify-content: space-between;
      //  align-items: center;
      //}
    }
  }

  .video__title {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
  }

  .video__info__function {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;

    .info__channel {
      display: flex;
      flex-direction: row;
      width: 50%;

      .channel__avatar {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
      }

      .channel__info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .channel__name {
          color: $white-text;
          font-size: 20px;
        }

        .channel__subscribers {
          font-size: 15px;
          color: $white-text;
        }
      }

      .function__subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        background-color: $black-primary;
        border-radius: 20px;
        height: 70%;
        font-weight: bold;
        color: white;
        padding: 10px;
        font-size: 13px;

        &:hover {
          background-color: #4c4c4c;
          cursor: pointer;
        }
      }
      button.unsubscribed {
        /* Màu khi đã subscribe-- chưa xong */
        background-color: red;
      }
    }

    .function__channel {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .function__like {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $white-mode-background-component;
        height: 35px;
        width: 80px;
        border-radius: 20px 0 0 20px;
        border-right: 1px solid $channel-text;

        &:hover {
          background-color: $white-mode-hover-component;
          cursor: pointer;
        }
      }

      .function__dislike {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white-mode-background-component;
        height: 35px;
        width: 50px;
        border-radius: 0 20px 20px 0;

        &:hover {
          background-color: $white-mode-hover-component;
          cursor: pointer;
        }
      }

      .function__share {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $white-mode-background-component;
        margin-left: 10px;
        height: 35px;
        width: 100px;
        border-radius: 20px;

        &:hover {
          background-color: $white-mode-hover-component;
          cursor: pointer;
        }
      }
    }
  }

  .video__details {
    border-radius: 15px;

    .details__info {
      display: flex;
      justify-items: flex-start;
      font-size: 17px;
    }

    .details__description {
      display: block;
      white-space: pre-line;
      font-size: 14px;
      border-radius: 20px;
      background-color: $white-mode-background-component;
      padding-left: 15px;
      padding-top: 10px;

      &:hover {
        background-color: $white-mode-hover-component;
        cursor: pointer;
      }

      .showMore {
        font-weight: bold;
        font-size: 14px;
        line-height: 2rem;
        width: 40px;

        padding-bottom: 1px;
        color: $white-text;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        justify-content: center;
        align-self: center;
        border-radius: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
