@import '../base/base.module';

.container {
  width: 100%;
  height: 15%;
  margin-bottom: 3px;
  background-color: transparent;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: #c8f4f6;
  }

  .thumbnail {
    margin: 0 0 0 10px;
    box-sizing: border-box;
    width: 125px;
    height: 75px;
    display: block;
    object-fit: fill;
    border-radius: 10px;
  }
  .title{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 150px);
    white-space: nowrap;
  }
}