.form-login {
    width: 100%;
    padding: 2em;
    color: #fff;
    max-width: 55vh;
    margin-inline: auto;
    margin:auto;
    border-radius: 15px;
}

.form-login-header {
    display: flex;
    justify-content: center;   
}

.form-login-logo {
    width: 180px;
    height: 47px;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.form-login-content {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em; 
}

.form-control {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}

 .form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    box-shadow: none;
    border-color: #fff;
}

.login-button {
    border-radius: 0;
    width: 100%;
    font-weight: bold;
}

.form-login p {
    color: gray;
    text-align: center;

}

.form-login p a {
    color: #e1e1e1;
    text-decoration: none;
}

.form-login p a:hover {
    color: #fff;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

