@import "../../base/base.module";

// $column-count-small: 3;  // Số cột cho màn hình <= 1200px
// $column-count-large: 4;  // Số cột cho màn hình > 1200px và <= 1500px

.main {
  margin-left: 30px;
  width: 100%;
  //   display: flex;
  // flex-wrap: wrap;
  // max-width: 1500px;
}

.header {
  padding: 10px 0 10px 0;
  display: flex;
  height: 68px;
  .tittle {
    margin: auto 0;
    font-size: 16px;
  }
  .header__button {
    display: flex;
    position: absolute;
    right: 0;
    .header__button__manage {
      margin-right: 20px;
      button {
        color: #3ea6ff;
        margin-right: 10px;
        height: 36px;
        border-radius: 20px;
        width: calc(100% + 10px);
      }
      button:hover {
        background-color: #374a59;
      }
    }
    .header__button__menu {
      button {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        svg {
          margin: auto;
        }
      }
    }
    button:hover {
      background-color: #646464;
    }
  }
}

.content {
  font-size: 14px;
  .info {
    margin: 15px 0 15px 0;
    position: relative;
    img {
      border-radius: 10px;
    }
    .time__video {
      position: absolute;
      text-align: right;
      font-weight: 550;
      right: 1.25rem;
      bottom: 6.875rem;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      font-size: 12px;
    }
    .content__tittle {
      color: black;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .detail {
      color: black;
      height: 100px;
      padding-top: 10px;
      img {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }
      button {
        display: none;
      }
    }
  }
  .info:hover button {
    display: inline-block;
  }
}
